body {
    background: url("philly.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
  
    font-size  : 1em;
    width  : 100%;
    font-family: 'Open Sans', sans-serif;
    color: #545756;
}


#signOne {
    position: fixed;
    bottom: 0;
    margin-left: 0%;
    z-index: 2; 
    
       animation-duration: 3s;
       animation-name: slideon;
     }
     
     @keyframes slideon {
       from {
         margin-left: 100%;
        
       }
     
       to {
         margin-left: 0%;
    
       }
     }
    
    
    #signTwo{
       top: 35%;
       position: fixed;
       right: 0px; 
       bottom: 0px;  
   
        height: 120%;
        width: 50%;
       animation-duration: 3s;
       animation-name: slidein;
    
     }
     
     @keyframes slidein {
       from {
         margin-right: 100%;
        
       }
       to {
         margin-right: 0%;
         
       }
    
     
     }
    
    
    
    
 
    
    
    
    

 
 
    
 .navbar {
  
    text-shadow: 2px red; 
    background: rgba(0, 0, 0, 0); 
    font-size: 50px;
    width: 100%;
 

    }
    
    #philly-crop{
      margin-left: 80px; 
      margin-top: 100px; 
      height: 560px; 
      width: 450px;
    }
    
    #aboutme-info {
    
      margin-left: 580px;
      margin-top: -500px;
      color: white; 
    }
    
    #info {
      margin-left: 60px;
    }

    .contact {
        height: 500px;
        width: 500px;
        margin: auto;
        margin-top: -5px;
        border-radius: 5%; 
      }

      form {
          margin-top: -5px;
      }
    
    button,
    .btn {
      border: 2px solid white;
      background: black; 
      color: white; 
      font-family: fantasy;
      
    }
    a{
      color: white; 
      font: bolder;
    }
    
    .dropdown-item{
      color: white; 
    }
    .dropdown-menu{
    background-color: black;
    border: 3px solid black; 
    color: white; 
    }
    
    
    
    
    
    .app-pic{
      height: 120px;
      width: 120px;
      border-radius: 15%; 
      display: none;   
      z-index: 5;
    }
    
    .display {
  
      margin: auto; 
      background: rgba(0, 0, 0, 0.0);  
     width: 400px;
     z-index: 5;
  
    
    }
    
    .col {
      margin: auto;
    }

    .project-links {
    
        background-color: black; 
        color: white; 
        display: none;
        z-index: 5; 
    }

    #info{
      height: 400px;
      width: 400px;
      float: right; 
      margin-right: 100px;
    }