body {
    background: url("philly.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;

}


#signOne {
    position: fixed;
    bottom: 0;
    margin-left: 0%;
    z-index: 2; 
    
       animation-duration: 3s;
       animation-name: slideon;
     }
     
     @keyframes slideon {
       from {
         margin-left: 100%;
        
       }
     
       to {
         margin-left: 0%;
    
       }
     }
    
    
    #signTwo{
       top: 35%;
       position: fixed;
       right: 0px; 
       bottom: 0px;  
   
        height: 120%;
        width: 50%;
       animation-duration: 3s;
       animation-name: slidein;
    
     }
     
     @keyframes slidein {
       from {
         margin-right: 100%;
        
       }
       to {
         margin-right: 0%;
         
       }
    
     
     }
    
    
    
    
 
    
    
    
    

 
 

   

    
   
    
  
    
    
  



.d-block {
  height: 500px;
  width: 500px;
  margin: auto;

}

#photoshop {
background: black;
color: white; 
width: 300px;
margin: auto;

 
 
}


.button {
  width: 100%;
  top: 50%; 

}

#title{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: whitesmoke; 

font-size: 350%; 
top: 20%; 
display: inline-block;
position: absolute;
text-align: justify;
margin-left: 30%; 
display: none; 
text-emphasis: 10px;

 }

 #web-developer {

   display: none; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white; 

text-align: center; 

top: 40%; 
position: absolute;
left: 38%; 
background: rgba(0, 0, 0, 0.0);




 }



#res {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  float: left; 
}

#in {
  height: 45px;
  width: 45px;
  margin: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  float: left; 
}
#git {
  height: 50px;
  width: 50px;
  margin: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  float: left; 
  
}
#email {
  height: 50px;
  width: 50px; 
  margin: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  float: left; 
  
}

#contact-info {
  

  position: fixed;
width: 100%;
bottom: 0%;
left: 40%; 
float: left; 
margin: 10px;



} 



.app-pic{
  height: 120px;
  width: 120px;
  border-radius: 15%; 
  display: none;   
  z-index: 5;
}


    .display {
  
      margin: auto; 
      background: rgba(0, 0, 0, 0.0);  
     width: 400px;
     z-index: 5;
  
    
    }
    
    .col {
      margin: auto;
    }

    .project-links {
    
        background-color: black; 
        color: white; 
        display: none;
        z-index: 5; 
    }

    #info{
      height: 350px;
      width: 350px;
    
    
    }

    #about-me{
     
     margin-bottom: 50px;
     color: white; 
      width: 200px;
      margin-left: 50px;
      background: black; 
   
    }

    a{
      color: white;
    }

    .btn{
      background: rgba(0, 0, 0, 0.0);
      color: white; 
      border: 1px solid white; 

    }